body{
font-family: "Poppins", sans-serif;  
 background-color: #E91E63;
  color:white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin:0;
  font-size: 35px;
  background-image: url("fundo.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 20px;
}

footer{
font-family: "Faculty Glyphic", sans-serif; 
  
}

footer a{
  text-decoration:none;
  color:white;
}

footer a:hover{
  color: red;
  text-decoration: underline;
}

button{
 font-family: "Roboto", sans-serif;
  background-color: pink;
    border: 2px solid pink;
  color:white;
  font-size: 25px;
  border-radius: 200px;
  margin: 0.5em;
  box-shadow: 3px 3px 4px black
   
}
button:hover{
  background-color: rgb(0,233,255);
  border: 2px solid rgb(208,0,255);
  color: black;
  
}

main{
  max-width: 90%;
  text-align:center;
  padding: 20px;
  flex: 1;
  
}

img{
  max-width: 90%;
}

.passo{
  display: none;
}

.passo.ativo{
  display: block;
}